@using ButterCMSPage.Controllers
@using ayce.Models

@{
    ViewBag.Title = "Dish Feed";
}

<h2>DishFeed</h2>
<p>
    <img src="@Model.Dishes[0].DishImage"/>
</p>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>