
.footer-container {
    margin: 1rem;
    height: 5rem;
}

.footer-links {
    height: 100%;
    text-align: center;
}

.footer-about-page {

}

.footer-copyright {

}

.footer-social {
    margin: 1rem;
    height: 100%;
}

.footer-github {
    height: 100%;
}

.footer-linkedin {
    height: 100%;
}