

//Color themes
$primary-maroon: #8D0F39;
$medium-pink: #CC8B86;
$light-pink: #EAE0D5;
$white: #FFFFFF;
$gray: #888888;
$black: #000000;
$accent-white: #E8E9EB;
$accent-black: #042A2B;

//Text
$headline-font-family: 'Poiret One', cursive;
$standard-font-family: 'Georgia', serif;
$font-weight-regular: 300;
$font-weight-bold: 700;