@using ayce.Models.Components

<div class="cuisine-menu-component">
    @if (Model.CuisineQuickMenu.MenuTitle != "")
    {
    <div class="cuisine-menu-title">
        <h2>@Model.CuisineQuickMenu.MenuTitle</h2>
    </div>
    }
    <div class="cuisine-menu-item-container grid-x grid-margin-x large-12 small-up-4 medium-up-4 large-up-8" >
        @foreach (var cuisineItems in Model.CuisineQuickMenu.CuisineItems)
        {
        <div class="cell cuisine-menu-item" >
            <a href="https://www.google.com/">
                <div class="cuisine-menu-icon-container cuisine-menu-@Model.CuisineQuickMenu.Color">
                    <div class="cuisine-menu-icon">
                        @Html.Raw(File.ReadAllText(Server.MapPath(@cuisineItems.getIconString())))
                    </div>
                </div>
                <p class="cuisine-menu-item-text">@cuisineItems.MenuTitle</p>
            </a>
        </div>
        }
    </div>
</div>

