@using ayce.Models.Components


<div class="grid-x hero-component">
    <div class="cell">
        <div class="hero-background-image" style="background-image: url(@Model.Hero.ImgUrl); @((Model.Hero.Parallax) ? "background-attachment: fixed" : "" )">
            <div class="hero-text">
                <div class="hero-headline-text">
                    <h1>@Model.Hero.Headline</h1>
                </div>
                <div class="hero-subheadline-text">
                    <p>@Model.Hero.SubHeadline</p>
                </div>
            </div>
        </div>
    </div>
</div>