@using ayce.Models.Components

    <div class="recipe-component">
        @if (Model.RecipeType == "original")
        {
            <div class="recipe-ingredients-container">
                <div class="recipe-ingredients">
                    @Model.
                </div>
            </div>
            <div class="recipe-instructions-container">
                <div class="recipe-instructions">

                </div>
            </div>
        }
        else
        {
            <div class="recipe-referred-container">
                <div class="recipe-referred">

                </div>
            </div>
        }
    </div>
